body {
    background-image: url("star-background.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 15px;
}

h1 {
    text-align: center; 
    margin: 10px;
}

.crop {
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid rgb(43, 0, 128)
   }

.crop img {
    height: 300px;
    width: auto;
   }

.crop .description {
    min-height: 300px;
    display: flex;
    align-items: center;
    background-image: url("description-background.jpg");
    
   }

.description-text {
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 10px;
}

.glyphicon {
    color: rgb(74, 16, 189)
}

button {
    margin: 10px 2px;
}